img.sprite {
    width: 100%;
    height: auto;
}

div.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: clamp(250px, 50%, 400px);
    background-color: #291528;
}

div.card h2 {
    padding: 2rem 0;
    margin: 0;
    background-color: #1f101e;
    color: rgb(255, 255, 255);
    text-align: center;
}

div.choices {
    display: grid;
    grid-column: 1fr 1fr;
}

div.choices button {
    grid-row-start: 1;

    border-radius: 0;
}

div.choices button {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    position: relative;
    background-color: #443742;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;

    box-shadow: -3px 0 rgba(26, 20, 27, 0.521);
}

div.choices button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

div.choices button#seen::before {
    background-color: rgba(45, 216, 68, 0.555);
}

div.choices button#new::before {
    background-color: rgba(201, 40, 40, 0.555);
}

div.choices button:hover::before {
    transform: translateX(0);
}